<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class = "brand">
            Delco
        </div>
        <div class = "navbar">
           <li><a href="/logout">Logout</a></li>  
           <li><a href="/accountdetails">Account Details</a></li>  
        </div>
      </nav>

    <div class="home">
        <h1>
            You have successfully entered the into the Bank Detail  page
        </h1>
        
      </div>
    
</body>
<%-include("partials/footer")-%>
</html>
    
</body>
</html>